<header>
  <h1>
    <a href="/">sentences</a>
  </h1>
</header>
<div class="content">
  <div class="sentences">
    <h1>Sentences</h1>
    <form>
      <h1>Add</h1>
      <div class="form-control">
        <label>Text</label>
        <input ng-model="c.text" />
      </div>
      <div class="form-control">
        <label>Translated Text</label>
        <input ng-model="c.translated" />
      </div>
      <button ng-click="c.add()">Add</button>
    </form>

    <form>
      <h1>Import</h1>
      <div class="form-control">
        <label>JSON</label>
        <textarea ng-model="c.json"></textarea>
      </div>
      <button ng-click="c.import()">Import</button>
    </form>

    <form>
      <h1>Export</h1>
      <button ng-click="c.export()">Export</button>
      <div class="form-control">
        <label>JSON</label>
        <textarea ng-model="c.exported"></textarea>
      </div>
    </form>

    <st-sentence-list model="c.sentences">
    </st-sentence-list>
  </div>

  <div class="questions">
    <h1>Questions</h1>
    <button ng-click="c.generateQuestions()">
      Generate
    </button>
    <st-question-list model="c.questions">
    </st-question-list>
  </div>
</div>
