<form class="answer-form">
  <div class="form-control">
    <ul class="answer-word-list">
      <li
        ng-if="i.selectedIndex === null"
        ng-repeat="i in c.answer.words"
        >
        <span
          ng-bind="i.text"
          ng-click="c.selectWord(i)"
          ></span>
        <button ng-click="c.selectWord(i)">select</button>
      </li>
    </ul>

    <ul
      class="answer-selected-word-list"
      ng-class="{ 'is-correct': c.answer.isCorrect, 'is-incorrect': c.answer.isCorrect === false }"
      >
      <li ng-repeat="i in c.getSelectedWords()">
        <span ng-bind="i.text"></span>
      </li>
    </ul>

    <button
      ng-click="c.unselectLastWord()"
      ng-if="c.answer.isCorrect == null && c.getSelectedWords().length > 0"
      >
      back
    </button>
  </div>
</form>
