<header>
  <h1>
    <a href="/">sentences</a>
  </h1>
</header>
<div class="content">
  <form>
    <input ng-model="c.sentence" />
    <button ng-click="c.add()">Add</button>
  </form>
  <ul class="sentence-list">
    <li
      class="sentence-list-item"
      ng-repeat="i in c.sentences"
      >
      <span ng-bind="i.getText()"></span>
      <ul class="word-list">
        <li
          class="word-list-item"
          ng-repeat="j in i.getWords()"
          >
          <span ng-bind="j"></span>
        </li>
      </ul>
    </li>
  </ul>
</div>
