@import "./colors";

@import "./reset";
@import "./base";

.button(@color: transparent) {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 4px;
  padding: 0 24px;
  height: 48px;
  border: 2px solid @color;
  vertical-align: middle;
  line-height: 48px - 2px * 2; // height - border-width * 2
  cursor: pointer;
}

header {
  margin: 0 auto;
  width: 980px;

  h1 {
    font-weight: bold;
    font-size: 2rem;

    a {
      color: @title-link-color;
      text-decoration: none;
    }
  }
}

.sentences,
.questions {
  margin: 64px auto;
  width: 980px;

  h1 {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.sentences {
  .word-list {
    display: none;
  }

  form {
    display: block;
    float: left;
    box-sizing: border-box;
    margin-bottom: 16px;
    width: 33%;

    &:nth-child(3n) {
      margin-right: 0.5%;
      margin-left: 0.5%;
    }

    h1 {
      margin: 0;
      font-size: 1rem;
    }
  }

  ul {
    clear: both;
  }
}

.answer-form {
  &:after {
    display: block;
    clear: both;
    content: "";
  }

  .answer-word-list {
    &:after {
      display: block;
      clear: both;
      content: "";
    }

    li {
      display: block;
      float: left;
      height: 100%;

      span {
        .button(#333);
      }

      button {
        display: none;
      }
    }
  }

  .answer-selected-word-list {
    float: left;
    height: 48px;

    &.is-correct {
      &:after {
        .button(transparent);

        padding: 0;
        color: #00f;
        content: "O";
      }
    }

    &.is-incorrect {
      &:before {
        .button(transparent);

        padding: 0;
        color: #f00;
        content: "X";
      }
    }

    li {
      display: block;
      float: left;
      height: 100%;

      span {
        .button(transparent);

        padding: 0;
      }

      button {
        display: none;
      }
    }
  }

  .back-button {
    display: inline-block;
    margin: 0;
  }
}
